<div class="col-md-12">
  <div class="course">
    <%= link_to("New Course", new_course_path, :class => "btn pull-right") %>
  </div>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
    </thead>
    <tbod>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.id %></td>
          <td><%= link_to(course.title, course_path(course) %></td>
          <td><%= course.description %></td>
          <td>
            <%= link_to("Edit", edit_course_path(course), class: "btn btn-xs") %>
            <%= link_to("Delete", course_path(course), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs") %>
          </td>
        </tr>
      <% end %>
    </tbod>
  </table>
</div>
